
body {
	font-family: Helvetica, 'Fakt Con Pro', sans-serif;	color: #000000;
	margin: 0;
	cursor: crosshair;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,24c6e2+100,7db9e8+100,207cca+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 100%, #ffffff 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 100%,#ffffff 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 100%,#ffffff 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	
}

* {
  margin: 0;
  padding: 0;
}

a {
	font-style: italic;
	text-align: left;
	text-rendering: optimizeLegibility;	
	text-decoration: none;
	color: black;
	pointer-events: auto;

}

.title {

	margin-top: 1%;
	margin-left: 1%;
	width: 75%;
	font-size: 3.5em;
	line-height: 1.05em;
	font-style: Fakt Con Pro;
	text-align: left;
	text-rendering: optimizeLegibility;	

}

.title_extended {
	font-size: 4.5em;
	line-height: 1.0em;
	font-style: Fakt Pro;
	text-align: left;
	text-rendering: optimizeLegibility;	
	margin-top: 50px;
	margin-left: 50px;

}

.title_con_bold {
	font-size: 4.5em;
	line-height: 1.0em;
	font-style: Fakt Con Pro;
	text-align: left;
	text-rendering: optimizeLegibility;	

}

.gallery {
	margin-top: 5%;
	margin-left: 5%;
}

img{
	z-index: 5;
	animation-name: img;
	animation-delay: 1s;
	animation-duration: 1s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
	pointer-events: auto;
	cursor: move;
	cursor: -webkit-grab; 
	cursor: -moz-grab;	

} 

@keyframes img {
	0%{-webkit-transform: rotate(0deg);}
	10%{-webkit-left: 100px;}
	15%{-webkit-top: 100px;}
	25%{-webkit-transform: rotate(0.9deg);}
    50%{-webkit-transform: rotate(-0.9deg)}
    100%{-webkit-transform: rotate(0deg);}

