
body {
	font-family: 'Fakt Con Pro', sans-serif;	color: #000000;
	margin: 0;
	letter-spacing: 2px;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,24c6e2+100,7db9e8+100,207cca+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 100%, #ffffff 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 100%,#ffffff 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 100%,#ffffff 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */  

}

* {
  margin: 0;
  padding: 0;
}

.title {
	z-index: 9;

	font-size: 5em;
	line-height: 1.0em;
	font-style: Fakt Con Pro;
	text-align: left;

	text-rendering: optimizeLegibility;	

	margin-top: 50px;
	margin-left: 50px;

}


.img{
	z-index: 5;
	margin-left: 60%;
	margin-top: -10%;
	animation-name: img;
	animation-delay: 1s;
	animation-duration: 1s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;

} 

@keyframes img {
	0%{-webkit-transform: rotate(0deg);}
	10%{-webkit-left: 50px;}
	15%{-webkit-top: 50px;}
	25%{-webkit-transform: rotate(0.5deg);}
    50%{-webkit-transform: rotate(-0.5deg)}
    100%{-webkit-transform: rotate(0deg);}

